<ul>
    <li>
        <a href="#"><i class="fa fa-map-o"></i></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-calendar"></i></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-comments-o"></i></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-envelope-o"></i></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-bell-o"></i></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-sliders"></i></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-sign-out"></i></a>
    </li>
</ul>