<!-- <cui-dropdown displayText="Fruits" btnIcon = "fa fa-area-chart">
  <cui-dropdown-item href="#" (click) = "choose(1)">Apple</cui-dropdown-item>
  <cui-dropdown-item href="#" (click) = "choose(1)">Pineapple</cui-dropdown-item>
  <cui-dropdown-item href="#" (click) = "choose(1)">Watermelon</cui-dropdown-item>
  <cui-dropdown-item href="#" (click) = "choose(1)">Peach</cui-dropdown-item>
  <cui-dropdown-item href="#" (click) = "choose(1)">Branana</cui-dropdown-item>
  <cui-dropdown-item href="#" (click) = "choose(1)">Cherry</cui-dropdown-item>
  <cui-dropdown-item href="#" (click) = "choose(1)">Pear</cui-dropdown-item>
</cui-dropdown> -->
<div id="main-block-content">
  <cui-table>
    <cui-table-header>ID</cui-table-header>
    <cui-table-header>Name</cui-table-header>
    <cui-table-header>Sex</cui-table-header>
    <cui-table-header>Phone</cui-table-header>
    <cui-table-header>Address</cui-table-header>
    <cui-table-header>SSN</cui-table-header>
    <cui-table-header>FIN</cui-table-header>
    <cui-table-header>STATUS</cui-table-header>
    <cui-table-row *ngFor="let index of loop">
      <cui-table-column>1</cui-table-column>
      <cui-table-column>Felix</cui-table-column>
      <cui-table-column>Male</cui-table-column>
      <cui-table-column>13723407801</cui-table-column>
      <cui-table-column>Shenzhen</cui-table-column>
      <cui-table-column>23843489343</cui-table-column>
      <cui-table-column>27478236748327462</cui-table-column>
      <cui-table-column>Active</cui-table-column>
    </cui-table-row>
  </cui-table>
</div>