<div class="dashboard-navbar">
    <i class="fa fa-bars" (click)="toggleLeftSidebar()"></i>
    <form class="global-search">
        <input value="" class="form-control" placeholder="Search here..." type="text">
        <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
    </form>
    <div class="mini-global-search">
        <i class="fa fa-search"></i>
    </div>
    <div class="dashboard-navbar-menu">
        <dashboard-navbar-menu></dashboard-navbar-menu>
    </div>
</div>