<div id="dashboard-left-sidebar">
    <div class="dashboard-logo">
        <img src="http://wrraptheme.com/templates/lucid/laravel/public/assets/img/logo.svg"/>
    </div>
    <div class="dashboard-user-account">
        <dashboard-user-account></dashboard-user-account>
        <hr>
    </div>
    <div class="dashboard-statistic">
        <dashboard-statistic></dashboard-statistic>
    </div>
    <div class="dashboard-navbar-tabs">
        <dashboard-navbar-tabs></dashboard-navbar-tabs>
    </div>
</div>